<html>
<head>
  <meta charset="utf-8">
  <title>CoRe</title>
  <style>
  @font-face {
  	font-family: 'gotham';
  	src:url('gothamBook.otf');
  	font-weight: normal;
  	font-style: normal;
  }  
  *{
    font-family:gotham;
  }
  
  .container{
    width:100%px;
    max-width:810px;
    margin-left:auto;
    margin-right:auto;
  }
  .member{
    text-align:center;
    margin-bottom:75px;
  }
  .info{
    display:block;
  }
  img{
    width:100%;
    height:auto;
    border:1px solid #000;
    margin-bottom:20px
  }
  
  
  </style>
</head>
<body>
  <div class="container">
    
    <!-- <div class="member">
      <img src="img/1.jpg" />
      <div class="info name"> </div>
      <div class="info phone"> </div>
      <div class="info phone"> </div>
      <div class="info email"> </div>
      <div class="info region"> </div>
      <div class="info territory"> </div>
    </div> -->

      Coming Soon
    
    <!-- <div class="member">
      <img src="img/1.jpg" />
      <div class="info name">Jane Cavanaugh Smith  -   National Advocacy Leader</div>
      <div class="info phone">617-939-1100</div>
      <div class="email phone">Keith.Hanglin@biogenidec.com</div>
      <div class="region phone">East </div>
      <div class="territory phone">East & South</div>
    </div>

    <div class="member">
      <img src="img/1.jpg" />
      <div class="info name">Keith Hanglin  - Advocacy Business Leader East </div>
      <div class="info phone">617-939-1100</div>
      <div class="info email">Keith.Hanglin@biogenidec.com</div>
      <div class="info region">East</div>
      <div class="info territory">East & South</div>
    </div>

    <div class="member">
      <img src="img/1.jpg" />
      <div class="info name">Sue Cowell</div>
      <div class="info phone">Cell: 609-602-6303</div>
      <div class="info phone">Fax: 866-278-6127</div>
      <div class="info email">=Sue.cowell@biogen.com</div>
      <div class="info region">East</div>
      <div class="info territory">Virginia / Maryland </div>
    </div>

    <div class="member">
      <img src="img/1.jpg" />
      <div class="info name">Lee Hall</div>
      <div class="info phone">Cell: 646-269-5997</div>
      <div class="info phone">Fax: 866-485-1422</div>
      <div class="info email">Lee.hall@biogen.com</div>
      <div class="info region">East</div>
      <div class="info territory">New York Metro / New Jersey</div>
    </div>

    <div class="member">
      <img src="img/1.jpg" />
      <div class="info name">Lisa-Ann Schmitt</div>
      <div class="info phone">Cell: 978-407-7713</div>
      <div class="info phone">Fax: 866-695-5712</div>
      <div class="info email">Lisa.schmitt@biogen.com</div>
      <div class="info region">East</div>
      <div class="info territory">Northern New England </div>
    </div>

    <div class="member">
      <img src="img/1.jpg" />
      <div class="info name">Christine Rowe</div>
      <div class="info phone">Cell: 267-249-8372</div>
      <div class="info phone">Fax: 866-694-5773</div>
      <div class="info email">Christine.rowe@biogen.com</div>
      <div class="info region">East</div>
      <div class="info territory">Pennsylvania </div>
    </div>

    <div class="member">
      <img src="img/1.jpg" />
      <div class="info name">Carol DeMatteis</div>
      <div class="info phone">Cell: 330-730-1975</div>
      <div class="info email">Carol.dematteis@biogen.com</div>
      <div class="info region">East</div>
      <div class="info territory">Ohio/Kentucky</div>
    </div>

    <div class="member">
      <img src="img/1.jpg" />
      <div class="info name">Lily Gomez</div>
      <div class="info phone">Cell: 786-344-8108</div>
      <div class="info phone">Fax: 866-690-2230</div>
      <div class="info email">Lily.gomez@biogen.com</div>
      <div class="info region">East</div>
      <div class="info territory">Southern Florida </div>
    </div>

    <div class="member">
      <img src="img/1.jpg" />
      <div class="info name">Nikita Lyons-Murry</div>
      <div class="info phone">Cell: 615-525-1003 </div>
      <div class="info phone">Fax: 866-522-3046</div>
      <div class="info email">Nikita.lyonsmurry@biogen.com</div>
      <div class="info region">East</div>
      <div class="info territory">Carolinas</div>
    </div>

    <div class="member">
      <img src="img/1.jpg" />
      <div class="info name">John Parler</div>
      <div class="info phone">Cell: 804-937-3449</div>
      <div class="info email">John.parler@biogen.com</div>
      <div class="info region">East</div>
      <div class="info territory">Southeast</div>
    </div>

    <div class="member">
      <img src="img/1.jpg" />
      <div class="info name">Tres Major III</div>
      <div class="info phone">Cell: 225-278-5331</div>
      <div class="info phone">Fax: 866-681-4135</div>
      <div class="info email">Tres.majoriii@biogen.com</div>
      <div class="info region">East</div>
      <div class="info territory">Mid-South</div>
    </div>

    <div class="member">
      <img src="img/1.jpg" />
      <div class="info name">Marilyn August - Advocacy Business Leader West </div>
      <div class="info phone">Cell: 925-864-0547</div>
      <div class="info phone">Fax: 877-862-1736</div>
      <div class="info email">Marilyn.august@biogen.com</div>
      <div class="info region">West</div>
      <div class="info territory">West & Central </div>
    </div>


    <div class="member">
      <img src="img/1.jpg" />
      <div class="info name">Jessica Klass</div>
      <div class="info phone">Cell: 623-238-0244</div>
      <div class="info phone">Fax: 866-695-5711</div>
      <div class="info email">Jessica.klass@biogen.com</div>
      <div class="info region">West</div>
      <div class="info territory">Southwest</div>
    </div>

    <div class="member">
      <img src="img/1.jpg" />
      <div class="info name">Maria Perez </div>
      <div class="info phone">Cell: 323-236-1257</div>
      <div class="info email">Maria.perez@biogen.com</div>
      <div class="info region">West</div>
      <div class="info territory">Southwest</div>
    </div>

    <div class="member">
      <img src="img/1.jpg" />
      <div class="info name">Edgar Vega</div>
      <div class="info phone">Cell: 562-413-4852</div>
      <div class="info email">Edgar.vega@biogen.com</div>
      <div class="info region">West</div>
      <div class="info territory">Northwest</div>
    </div>

    <div class="member">
      <img src="img/1.jpg" />
      <div class="info name">Becky Ybarra</div>
      <div class="info phone">Cell: 801-913-8204</div>
      <div class="info phone">Fax: 866-690-2226</div>
      <div class="info email">Becky.ybarra@biogen.com</div>
      <div class="info region">West</div>
      <div class="info territory">Rocky Mountain - UT, WY, MT, WA, OR</div>
    </div>

    <div class="member">
      <img src="img/1.jpg" />
      <div class="info name">Brenda Adamson</div>
      <div class="info phone">Cell: 402-686-0666</div>
      <div class="info phone">Fax: 866-685-8551</div>
      <div class="info email">Brenda.adamson@biogen.com</div>
      <div class="info region">West</div>
      <div class="info territory">Nebraska, North Dakota, South Dakota, Minnesota, Iowa, Wisconsin</div>
    </div>

    <div class="member">
      <img src="img/1.jpg" />
      <div class="info name">Shelley Gerson</div>
      <div class="info phone">Cell: 248-703-3434</div>
      <div class="info phone">Fax: 866-627-1449</div>
      <div class="info email">Shelley.gerson@biogen.com</div>
      <div class="info region">West</div>
      <div class="info territory">Michigan, Indiana</div>
    </div>

    <div class="member">
      <img src="img/1.jpg" />
      <div class="info name">Vicki Oberkrom</div>
      <div class="info phone">Cell: 660-281-2447</div>
      <div class="info phone">Fax: 866-378-9066</div>
      <div class="info email">Vicki.Oberkrom@biogen.com</div>
      <div class="info region">West</div>
      <div class="info territory">Midwest</div>
    </div> -->
     
  </div>
</body>
</html>